body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0px;
}

.topbar{
    overflow: hidden;
    background-color: #333;
    margin-bottom: 100px;
}

.topbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topbar a:hover {
    background-color: #4ca484;
    color: white;
}

.searchBar{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
}

img#tent {
    width: 100%;
}

.outerlogin {
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.innerlogin {
    border: 1px solid #cfe4cd;
    padding-top: 0;
    padding: 10px;
    border-radius: 15px;
    display: none;
    overflow: hidden;
}  

.collapsible{
    border: 0px;
    font-weight: bold;
    padding: 10px 25px;
    width: 100%;
    margin-top:20px;
    background-color: #cfe4cd;
    border-radius: 15px;
}

.collapsible:hover {
    background-color: rgb(96, 134, 98);
}

.innerlogin input{
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px 0px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.innerlogin input[id="createaccount"],[id="signin"]{
    border: 0px;
    font-weight: bold;
    padding: 10px 25px;
    width: 100%;
    border-radius: 15px;
    background-color: #acc5a9;
}


.innerlogin input[id="createaccount"]:hover, [id="signin"]:hover {
    background-color: rgb(96, 134, 98);
}

.innerlogin input:focus{
    outline:0px;
}

p.forgotpassword{
    text-align: center;
}

.forgotpassword a{
    text-decoration: none;
    font-size:12px;
    color: rgb(96, 134, 98);
}

.forgotpassword a:hover {
    text-decoration: underline;
}

p.tos {
    font-size: 11px;
    text-align: center; 
}

.listitem{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width:80%;
    background-color: #cfe4cd;
    display: flex;
}

.column {
    flex: 50%;
    margin: 30px;
    padding: 20px;
}

.rightcolumn{
    text-align: center;
}

.column input {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px 0px;
    width: 80%;
    box-sizing: border-box;
    border-radius: 5px;
}

.account{
    position: absolute;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);
    width:80%;
    /* background-color: #cfe4cd; */
}

.account h1{
    text-align: center;
    width: 100%;
}

.account h2{
    text-align: center;
    width: 100%;
}

.row1{
    display: flex;
}

.leftHalf{
    background-color: #ffffff;
    flex: 50%;
    margin: 30px;
    padding: 40px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

#productName{
    flex: 50%;
    float: left;
}

#productPrice{
    flex: 50%;
    float: right;
}

#productDescription{
    text-align: justify;
    float: left;
}

.rightHalf{
    float: right;
    background-color: #ffffff;
    flex: 50%;
    margin: 30px;
    padding: 40px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.row2{
    display: flex;
}

.leftHalfR2{
    background-color: #ffffff;
    flex: 50%;
    margin: 30px;
    padding: 40px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    display: flex;
    align-items: center;
}

.rightHalfR2{
    background-color: #ffffff;
    flex: 50%;
    margin: 30px;
    padding: 40px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    display: flex;
    align-items: center;
}

#row2Tittle{
    width: 92%;
    float: left;
    text-align: left;
}

.favouriteIcon{
    width: 8%;
    margin: 10px;
}

.settingIcon{
    width: 8%;
    margin: 10px;
}

.bottombar {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: rgb(96, 134, 98);
}

.bottombar ul {
    list-style-type: none;
    float: left;
}

.copyright {
    position: absolute;
    right: 30px;   
}

.bottombar a {
    color: black;
    text-decoration: none;
}

.bottombar a:hover {
    color: #acc5a9;
}